<h2>About Me</h2>
<div class="d-grid about-container">
  <div class="about-content">
    <section>
      <article>
        <ul>
          <li>I am a Software Engineer with 2+ years experience in building websites.</li>
          <li>I have done B.Tech in Computer Science from IIT (ISM) Dhanbad.</li>
          <li>My specialization would be working as Full Stack Developer and have experience working with Angular,React
            and SpringBoot frameworks.</li>
          <li>I am interested in ML, WebDev and Fintech.</li>
          <li>Love to explore and learn new things.</li>
        </ul>
        <p>Will love to here more from you !</p>
        <button mat-button class="bg-primary">Contact</button>
      </article>
    </section>
  </div>
  <div class="about-image"></div>
</div>
