
@use '@angular/material' as mat;
@import "assets/css-partials/includes";

@include mat.core();

$primary: mat.define-palette(mat.$purple-palette,A200);
$accent: mat.define-palette(mat.$teal-palette,A400);
$warn: mat.define-palette(mat.$red-palette);


$dark-primary: mat.define-palette(mat.$purple-palette,A200);
$dark-accent: mat.define-palette(mat.$teal-palette,A400);
$dark-warn: mat.define-palette(mat.$red-palette);

$theme: mat.define-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn,
  )
));

$dark-theme: mat.define-dark-theme((
  color: (
    primary: $dark-primary,
    accent: $dark-accent,
    warn: $dark-warn,
  )
));



@include mat.all-component-themes($theme);
@include includes-mixin($theme);

.dark-theme {
  @include mat.all-component-colors($dark-theme);
  @include includes-mixin($dark-theme);
}

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  }

// :root
// {
//   --color-white: #FFF;
//   --color-pink:#fc00ff;
//   --color-light-blue:#c6f3f4;
//   --color-teal:#00dbde;
//   --color-grey :#a2aab1;
//   --color-black-500:#414345;
//   --color-black-700:#232526;
//   --color-black-900:#000;
// }

// .bright-theme{
//   --color-primary : var(--color-pink);
//   --color-secondary : var(--color-teal);
//   --text-color-primary:var(--color-black-900);
//   --bg-body:var(--color-light-blue);
//   --bg-primary:var(--color-primary);
//   --bg-secondary:var(--color-secondary);
//   --bg-gradient:linear-gradient(to right,var(--bg-primary),var(--bg-secondary));
//   --bg-logo:var(--bg-gradient);
// }

// .dark-theme{
//   --color-primary : var(--color-black-700);
//   --color-secondary : var(--color-black-500);
//   --text-color-primary:var(--color-grey);
//   --bg-body:var(--color-secondary);
//   --bg-primary:var(--color-primary);
//   --bg-secondary:var(--color-secondary);
//   --bg-gradient:linear-gradient(to right,var(--bg-primary),var(--bg-secondary),var(--color-grey));
//   --bg-logo:linear-gradient(to right,var(--color-white),var(--color-grey));

// }
