/* You can add global styles to this file, and also import other style files */


:root{
  --color-white: #FFF;
  --color-pink:#fc00ff;
  --color-light-blue:#c6f3f4;
  --color-teal:#00dbde;
  --color-grey :#a2aab1;
  --color-black-500:#414345;
  --color-black-700:#232526;
  --color-black-900:#000;
}

.bright-theme{
  --color-primary : var(--color-pink);
  --color-secondary : var(--color-teal);
  --text-color-primary:var(--color-black-900);
  --bg-body:var(--color-light-blue);
  --bg-primary:var(--color-primary);
  --bg-secondary:var(--color-secondary);
  --bg-gradient:linear-gradient(to right,var(--bg-primary),var(--bg-secondary));
  --bg-logo:var(--bg-gradient);
}

.dark-theme{
  --color-primary : var(--color-black-700);
  --color-secondary : var(--color-black-500);
  --text-color-primary:var(--color-grey);
  --bg-body:var(--color-secondary);
  --bg-primary:var(--color-primary);
  --bg-secondary:var(--color-secondary);
  --bg-gradient:linear-gradient(to right,var(--bg-primary),var(--bg-secondary),var(--color-grey));
  --bg-logo:linear-gradient(to right,var(--color-white),var(--color-grey));

}

.color-primary{
  color: var(--color-primary);
}
.color-secondary{
  color: var(--color-secondary);
}
.color-white{
  color: var(--color-white);
}
.color-black{
  color: var(--color-black-900);
}
.bg-primary{
  background-color: var(--bg-primary);
}
.bg-secondary{
  background-color: var(--bg-secondary);
}
.bg-gradient{
  background-image: var(--bg-gradient) //linear-gradient(to right,var(--bg-primary),var(--bg-secondary));
}

.bg-logo{
  background-image: var(--bg-logo);
}
.bg-body{
  background-color: var(--bg-body);
}

.gradient-text {
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.opaque-50
{
  opacity: 0.5;
}

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--bg-body);
  color: var(--text-color-primary);
  }

  h1,h2,p,span{
    color: var(--text-color-primary);
  }

